<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">MEAN Book Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/book-list">Books List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/add-book">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">About</a>
                </li>
            </ul>
            <span class="navbar-text">
      Developed by Jitin Rathore...
    </span>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Book Store Project using MEAN Stack</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi saepe, eum enim ea quod magnam, laboriosam impedit ducimus corrupti aliquid inventore ad sequi repudiandae accusamus atque iste a quibusdam necessitatibus.</p>
    </div>
</div>

<router-outlet></router-outlet>